body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.posts-container {
  margin: 0 auto;
  width: 50%;   
}



@media (max-width: 768px) {
  .posts-container {
    width: 98%;    
  }
}




/* welcome message */
.welcome-container {
  max-width: 600px;        
  margin: 2rem auto;       
  background-color: #52bee935; 
  border: 1px solid #52bde9; 
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
}

.welcome-container p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fe994c; 
}

.welcome-container p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

/* responsive */
@media (max-width: 768px) {
  .welcome-container {
    width: 85%;
    padding: 1.5rem;
    
  }

  .welcome-container p:first-child {
    font-size: 1.3rem;
  }
}




/* Loader מרכזי */
.loader-overlay {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7); /* רקע חצי שקוף */
  z-index: 1000;
}

.loader {
  border: 6px solid #f3f3f3; /* צבע בסיס */
  border-top: 6px solid #000dff; /* צבע החלק המסתובב */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* אנימציה */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
